PORT=5000
MONGODB_CONNECTION_URI=string_from_atlas

CLOUDINARY_CLOUD_NAME= "cloud_name_here"
CLOUDINARY_API_KEY="api_key_here"
CLOUDINARY_API_SECRET="api_secret_here"

EMAIL_HOST=smtp.sendgrid.net
EMAIL_PORT=587 # 465
EMAIL_USER=apikey
EMAIL_PASSWORD=api_password

JWT_SECRET=long_jwt_token